<h2 >WELCOME TO THE HERDERHUB</h2>
<p>This is a dynamic digital solution tailored to the needs of pastoralists, providing them with an efficient and user-friendly platform to digitally manage their livestock records.</p>
<div class="container">

    <nav class="nnn">
    
      <a routerLink="/cows" routerLinkActive="active">Cows</a>
      <a routerLink="/goats" routerLinkActive="active">Goats</a>
        <a routerLink="/sheeps" routerLinkActive="active">Sheeps</a>
      
      </nav>
     
    </div>